<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Timeseries and Datetime

_Authors: Samuel Stack (DC)_

---

### Learning Objectives
- Use the datetime library to represent dates as objects
- Calculate time differences with timedelta
- Use datetime objects in pandas on the UFO dataset

### Lesson Guide
- [The `datetime` library](#the-datetime-library)
- [`datetime` object](#datetime-object)
- [`timedelta`](#timedelta)
- [Load the UFO reports data](#load-the-ufo-reports-data)
- [Pandas' `pd.datetime`](#pandas-pddatetime)
	- [The `.dt` attribute](#the-dt-attribute)
- [Time stamps](#time-stamps)
- [Additional resources](#additional-resources)

# What is a *time series*?

**Definition:** A *series* of data points listed at successive points in time.

**Think of examples.**

![](images/dataframe.png)

**Time series are inevitably stored in different formats.**

---

![](images/weather1.png)

---

![](images/weather2.png)

# A Surprisingly (?) Frustrating Aspect of Working with Time

*Working with* **time**!!

- Measurements:
  - Year, month day
  - Day of week
  - Hour, minute, second, microsecond
- Policies:
  - Time zone, daylight savings

# Pythonic Dates

- Standard library
  - `date`
  - *`datetime`*
  - `time`
  - *`timedelta`*

[https://docs.python.org/3.6/library/datetime.html](https://docs.python.org/3.6/library/datetime.html)

<a id="the-datetime-library"></a>
## The `datetime` library
---

The python library `datetime` is great for dealing with time-related data. Pandas being Pandas has incorporated this `datetime` library into its own datetime series and objects.

We're going to review these data types and learn a little more about them.
- Datetime Object
- Datetime Series
- Time Stamp
- Time Delta

<a id="datetime-object"></a>
## `datetime` object
---

Below we can load in the datetime library. Using this we can create a datetime object by entering in the different components of the date as arguments.

In [33]:
# The Date time library is something you should already have because of Anaconda.
from datetime import datetime
# 
lesson_date = datetime(2012,12,21,12,21,12,840265)
lesson_date

datetime.datetime(2012, 12, 21, 12, 21, 12, 840265)

The components of the date are accessible via attributes of the object.

In [7]:
# A:
print('Microsecond', lesson_date.microsecond)
print('Day', lesson_date.day)
print(lesson_date.weekday())

dow =['M','T','W','R','F','Sa','Su']
print(dow[lesson_date.weekday()])

Microsecond 840265
Day 21
4
F

<a id="timedelta"></a>
## `timedelta`
---

Say we want to add time to a date or subtract time.  Maybe we are using time as an index and we want to get everything that happened a week before a specific observation.

We can use a timedelta object to shift (do arithmatic, more or less) a datetime object. Here's an example:

In [10]:
# Import timedelta from datetime library
from datetime import timedelta
# A:
offset = timedelta(days=1, seconds=20)
print('offset days',offset.days)
print('offset microsecond', offset.microseconds)

offset days 1
offset microsecond 0

The `.now()` function of datetime will give you the datetime object of this very moment.

In [13]:
# A:
now = datetime.now()
print(now)

2017-11-16 10:28:29.708398

The current time is particularly useful when using timedeltas.

In [14]:
# A:
print('Future', now+offset)
print('Past', now-offset)

Future 2017-11-17 10:28:49.708398
Past 2017-11-15 10:28:09.708398

> _Note: The largest value a Time Delta can hold is 'Days'.  I.e. you can't say your want you an offset to be 2 years, 44 days and 12 hours.  You would have to manually convert the time of those years to be represented in days._

You can read more about that here in the timedeltas category.
https://docs.python.org/2/library/datetime.html

<a id="load-the-ufo-reports-data"></a>
## Load the UFO reports data
---

We can practice using datetime functions and objects with the UFO reports data.

In [15]:
# Get a dataset from the internets
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')

In [16]:
# A:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [17]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

The "Time" column starts off as just an object.

<a id="pandas-pddatetime"></a>
## Pandas' `pd.datetime`
---

When using pandas we can convert columns of data from string objects into date objects with the `pd.to_datetime` function.

> **Note**: dates can be tricky to parse as they come in many formats. The `to_datetime` function comes with a keyword argument `infer_datetime_format` that can be particularly useful to parse dates.

In [19]:
# A:
ufo['Time']=pd.to_datetime(ufo.Time)

In [20]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [21]:
ufo.dtypes #  datetime64 -> numpy

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

<a id="the-dt-attribute"></a>
### The `.dt` attribute

Pandas datetime columns have a `.dt` attribute that allows you to access attributes specific to the dates. For example:
```python
ufo.Time.dt.day
ufo.Time.dt.month
ufo.Time.dt.year
ufo.Time.dt.weekday_name
```

And many more.

In [22]:
# A:
ufo.Time.dt.weekday_name

0           Sunday
1           Monday
2           Sunday
3           Monday
4          Tuesday
5         Saturday
6         Saturday
7        Wednesday
8         Thursday
9          Tuesday
10          Sunday
11        Thursday
12          Friday
13          Friday
14          Sunday
15       Wednesday
16       Wednesday
17          Monday
18       Wednesday
19          Friday
20         Tuesday
21          Sunday
22          Sunday
23          Friday
24        Saturday
25        Saturday
26        Saturday
27          Sunday
28        Thursday
29          Friday
           ...
18211     Thursday
18212     Thursday
18213     Thursday
18214       Friday
18215       Friday
18216       Friday
18217       Friday
18218       Friday
18219       Friday
18220       Friday
18221       Friday
18222       Friday
18223       Friday
18224       Friday
18225     Saturday
18226     Saturday
18227     Saturday
18228       Sunday
18229       Sunday
18230       Sunday
18231       Sunday
18232       Sunday
18233       Sunday
18234       Sunday
18235       Sunday
18236       Sunday
18237       Sunday
18238       Sunday
18239       Sunday
18240       Sunday
Name: Time, Length: 18241, dtype: object

In [23]:
ufo.Time.dt.dayofyear

0        152
1        181
2         46
3        152
4        108
5        258
6        166
7        197
8        289
9        166
10       227
11       152
12       181
13       188
14       152
15       183
16        56
17       152
18       196
19       120
20       152
21       227
22       227
23       288
24         1
25         1
26         1
27        93
28       153
29       182
        ...
18211    363
18212    363
18213    363
18214    364
18215    364
18216    364
18217    364
18218    364
18219    364
18220    364
18221    364
18222    364
18223    364
18224    364
18225    365
18226    365
18227    365
18228    366
18229    366
18230    366
18231    366
18232    366
18233    366
18234    366
18235    366
18236    366
18237    366
18238    366
18239    366
18240    366
Name: Time, Length: 18241, dtype: int64

<a id="time-stamps"></a>
## Time stamps
---

Timestamps are useful objects for comparisons. You can create a timestamp object with the `pd.to_datetime` function and a string specifying the date. These timestamps are useful when you need to do logical filtering with dates.

In [25]:
# A:
type(ufo.Time[0])

pandas._libs.tslib.Timestamp

In [39]:
# Use that Time Stamp for a comparison.
ts = pd.to_datetime('1/1/1999')
print(ts.month)
dt = datetime(1999,1,1)
print(dt)

1
1999-01-01 00:00:00

In [32]:
ufo.loc[ufo.Time >= ts, :].head()

,City,Colors Reported,Shape Reported,State,Time
12832,Loma Rica,NaN,LIGHT,CA,1999-01-01 02:30:00
12833,Bauxite,NaN,NaN,AR,1999-01-01 03:00:00
12834,Florence,NaN,CYLINDER,SC,1999-01-01 14:00:00
12835,Lake Henshaw,NaN,CIGAR,CA,1999-01-01 15:00:00
12836,Wilmington Island,NaN,LIGHT,GA,1999-01-01 17:15:00

<a id="additional-resources"></a>
## Additional resources
---
- search for .dt. on http://pandas.pydata.org/pandas-docs/stable/api.html for more information about pandas Datetime.

In [47]:
print('one year from now:' + str(datetime.now() + timedelta   (days =365)))

one year from now:2018-11-16 11:04:56.330142